<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <h1>所有用戶</h1>
    <table border="1">
        <tr>
            <th>ID</th><th>Username</th><th>full_name</th><th>phone</th><th>Email</th><th>Action</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.fullName}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/user/delete/{id}(id=${user.id})}">刪除</a>
                <a th:href="@{/user/edit/{id}(id=${user.id})}">更改</a>
            </td>
        </tr>
    </table>
    <li><a th:href="@{/form}">註冊新用戶</a></li>
    <li><a th:href="@{/index}">回到首頁</a></li>
</body>
</html>